<div class="index">
    <div class="search">
        <div class="search-bar">
            <h1>Look</h1>
            <input placeholder="Look for your new Job" type="search" id="input-search" />
            <input placeholder="Look for your new Job" type="search" id="input-search" />
        </div>
    </div>
    <video id="myvideo" src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"></video>

</div>