<div class="index">
  <div class="search">
    <div class="search-bar">
      <h1 class="home-tittle">UK IS LOOKING FOR YOU!</h1>

      <form action="/search/jobs">
        <div class="search-inputs">

          <div class="home-input">
            <label for="">Choose your tech profile</label>
            <select class="home-search-inputs" name="keywords">
              <option value="UX/UI Design">UX/UI Design</option>
              <option value="Web Development">Web Development</option>
              <option value="Data Analyst">Data Analyst</option>
            </select>
          </div>

          <div class="button-search-container">
            <button type="submit" class="home-search-button">Seacrh</button>
          </div>

        </div>
      </form>

    </div>
  </div>


  <div class="overlay">
  </div>
  <video id="myvideo" src="./videos/home-video.mp4" autoplay="true" muted="true" loop="true"></video>

</div>