<div class="index">
    <div class="search">
        <div class="search-bar">
            <h1>Look for your new Tech Job</h1>
            <form action="/search/jobs">
                <div class="search-inputs">
                    <div class="home-input">
                        <label for="">Tech Profile</label>
                        <select class="home-search-inputs" name="keywords">
                            <option value="value1" selected>Select one</option>
                            <option value="UX/UI Design">UX/UI Design</option>
                            <option value="Web Development">Web Development</option>
                            <option value="Data Analyst">Data Analyst</option>
                        </select>
                    </div>
                    <div class="home-input">
                        <label for="">Location</label>
                        <select class="home-search-inputs" name="locationName">
                            <option value="value1" selected>Select one</option>
                            <option value="Spain">Spain</option>
                            <option value="UK">UK</option>
                            <option value="Germany">Germany</option>
                            <option value="Portugal">Portugal</option>
                        </select>
                    </div>
                    <div class="button-search-container">
                        <button type="submit" class="home-search-button">Seacrh</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <video id="myvideo" src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"></video>

</div>