<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <!-- CSS only -->
</head>

<body class="bg-dark">

   <div class="mynavbar">
      <a class="navbar-brand ms-3 text-white" href="/"><strong>TECH JR</strong> </a>
      <a class="nav-link text-white" href="/jobs">JOBS</a>
      {{#if navJob }}
      <a class="nav-link text-white" href="/auth/list-user">TECH PROFILES</a>
      <a class="nav-link text-white" href="/jobs/create">CREATE JOB</a>
      {{/if}}
      {{#if nav }}
      <div class="dropdown">
         <a class="nav-link text-white dropbtn" href="/auth/profile"><img src="/images/login-icon.png" alt=""></a>
         <div class="dropdown-content">
            <a class="nav-link text-white" href="/auth/logout">LOG OUT</a>
         </div>
      </div>
      {{/if}}
      {{#unless nav }}
      <div class="dropdown">
         <a class="nav-link text-white dropbtn" href="/auth/profile"><img src="/images/login-icon.png" alt=""></a>
         <div class="dropdown-content">
            <a class="nav-link text-white" href="/auth/login">LOG IN</a>
            <a class="nav-link text-white" href="/auth/signup">SIGN UP</a>
         </div>
      </div>
      {{/unless}}

   </div>

   {{{body}}}

   <footer class="text-center p-3">
      © 2020 Copyright: <a class="text-white" href="/">Tech Juniors</a>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
   <script src="/js/script.js"></script>
</body>

</html>