<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
   <div class="container">
      <div class="row">
         <div>
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
                  <a class="navbar-brand ms-3 text-white" href="/">Home</a>
                  <button class="navbar-toggler text-white" type="button" data-toggle="collapse"
                     data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                     aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                        <li class="nav-item active">
                           <a class="nav-link text-white" href="/jobs">Jobs</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-white" href="/jobs/create">Create Job</a>
                        </li>
                        {{#if nav }}
                        <li class="nav-item">
                           <a class="nav-link text-white" href="/auth/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-white" href="/auth/logout">Log out</a>
                        </li>
                        {{/if}}
                        <li class="nav-item">
                           {{#unless nav }}
                           <a class="nav-link text-white" href="/auth/login">Log in</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link text-white" href="/auth/signup">Sign up</a>
                        </li>
                        {{/unless}}
                     </ul>
                  </div>
               </nav>
            </div>

         </div>
      </div>

      <div class="container">
         <div class="row">
            <footer class="bg-dark text-center text-lg-start">
               <!-- Copyright -->
               <div class="text-center p-3">
                  © 2020 Copyright:
                  <a class="text-white" href="/">Tech Juniors</a>
               </div>
               <!-- Copyright -->
            </footer>
         </div>
      </div>

      {{{body}}}
   </div>

   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
   <script src="/js/script.js"></script>
</body>

</html>