@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;900&display=swap');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;

}

* {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Raleway', sans-serif;
}

a:hover {
  font-weight: 600;
}

/* body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a:link,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  color: #111;
}

.text-required {
  font-size: 10px;
  color: gray;
  margin-top: 4px;
}

.index {
  height: 100vh;
  position: relative;
}

#myvideo {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
}

footer {
  width: 100%;
  height: 90px;
  z-index: 80;
  color: white;
  font-size: 14px;
  background-color: rgba(40, 40, 40, 0.627);
  bottom: 0;
}

.search {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search h1 {
  color: white;
}

#input-search::placeholder {
  color: rgba(255, 255, 255, 0.402);
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-view {
  height: 100vh;
  padding-top: 80px;
}

.search-inputs {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.home-input {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: white;
}

.home-search-inputs {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  height: 40px;
  width: 300px;
  padding: 2px 60px 2px 15px;
  outline: 0;
  background-color: #f5f5f500;
  color: white;
  cursor: pointer;
}

.home-search-button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  height: 40px;
  bottom: 0;
  padding: 2px 20px 2px 15px;
  outline: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all .5s ease;
}

.button-search-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-search-button:hover {
  background-color: rgba(0, 0, 255, 0);
  color: white;
  transition: all .5s ease;
}

.login-container {
  height: 100vh;
  padding-top: 10%;
}

#errorMessage {
  color: red;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.627);
  position: absolute;
  z-index: 2;
}

.home-tittle {
  font-size: 80px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.mynavbar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 17, 17, 0);
  z-index: 30;
  position: absolute;
}

label {
  color: white;
}

.hide-row {
  -webkit-appearance: none;
}

.break-text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.home-search-inputs:focus {
  background-color: rgb(40, 40, 40);
}

.card-animation {
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card-animation:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#avatar-size {
  z-index: 1;
  width: 150px;
  height: 150px;
}

#avatar-size img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}